---
import BaseHead from "../../components/BaseHead.astro";
import SiteLayout from "../../layouts/SiteLayout.astro";
import { type CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;
const post = Astro.props;
// console.log(Astro.props);
const { Content } = await post.render();
---

<BaseHead title={post.data.title} description={post.data.description} image={post.data.image} type="article" />
<SiteLayout>
  <div class="entry">
    <Content />
  </div>
</SiteLayout>
